body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-image: url('sim.jpeg');
  background-size: 100%;
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(141, 138, 138);
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: rgb(175, 164, 161);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: rgb(138, 142, 143);
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container {
  margin: auto;
  width: fit-content;
  border-radius: 8px;
  margin: 2rem;
  background-color: #dad5d58f;
  padding: 1rem;
  box-shadow: 10px 10px 20px rgba(49, 49, 49, 0.505),
      -10px -10px 20px rgba(68, 67, 67, 0.361);
}
